<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{plantilla/template :: head}">
</head>
<body>
<header th:replace="~{plantilla/template :: header}"></header>
<div class="container">
    <h1 th:text="${titulo}"></h1>
</div>
<div class="container">

    <a class="btn btn-primary btn-sm" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/productos/create}"
    th:text="'Nuevo Producto'" title="Crear Nuevo Registro">
    </a>

    <table class="table">
        <thead class="table-dark">
            <th scope="col">Id</th>
            <th scope="col">Productos</th>
            <th scope="col">Precio Compra</th>
            <th scope="col">Stock</th>
            <th scope="col" sec:authorize="hasRole('ROLE_USER')">Editar</th>
            <th scope="col" sec:authorize="hasRole('ROLE_ADMIN')">Eliminar</th>
        </thead>
        <tbody>
            <tr th:each="pr:${productos}">
                <th scope="row" th:text="${pr.id}"></th>
                <td th:text="${pr.nombreProducto}"></td>
                <td th:text="${pr.precioCompra}"></td>
                <td th:text="${pr.stock}"></td>
                <td sec:authorize="hasRole('ROLE_USER')">
                    <a class="btn btn-success btn-sm" th:href="@{/productos/edit/} + ${pr.id}"
                       th:text="'Editar'" title="Editar Registro">
                    </a>
                </td>
                <td sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="btn btn-danger btn-sm" th:href="@{/productos/delete/} + ${pr.id}"
                       th:text="'Eliminar'" title="Eliminar Registro" onclick="return confirm('Esta seguro de eliminar el registro ?');">
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<footer th:replace="~{plantilla/template :: footer}"></footer>
</body>
</html>