<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="plantilla/template :: head">
</head>
<body>
<header th:replace="plantilla/template :: header"></header>
<div class="container">
    <div class="container theme-showcase" role="main">
        <hr class="featurette-divider">
        <form class="form-signin" th:action="@{/login}" method="post">
            <h3 class="form-signin-heading">Iniciar Sesión</h3>
            <label for="username" class="sr-only">Usuario</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="Usuario" required autofocus>
            <label for="password" class="sr-only">Contraseña</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="Contraseña" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
        </form>
    </div>
</div>


<footer th:replace="plantilla/template :: footer"></footer>
</body>
</html>